.box-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .description {
        width: 64%;
    }
    .amazon_logo {
        .card-header {
            justify-content: center;
        }
        width: 33%;
        img {
            width: 100%;
            padding: 1rem;
        }
    }
    .card-body-show {
        font-size: 1.15rem;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.35rem;
        z-index: 3;
    }
    .box {
        display: flex;
        flex-direction: column;
        width: 30%;
        .box-image {
            height: 65%;
        }
        h5 {
            font-size: 4rem !important;
        }
    }
    .left-box {
        width: 64%;
        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }
    .right-box {
        width: 33%;
        .box {
            width: 48%;
            .box-image {
                height: 80%;
            }
        }
        .laptop-info {
            display: flex;
            justify-content: space-between;
        }
    }

}
