@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: inherit;
}

#thermometer {
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    /*width: 100%;*/
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body .thermo-container {
    width: 400px;
    /*height: 400px;*/
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body .thermo-container .outer-circle {
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body .thermo-container .outer-circle .middle-circle {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-bottom: 20px solid #f1f1f1;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    background: url("http://100dayscss.com/codepen/thermostat-gradient.jpg");
    background-repeat: no-repeat;
    background-size: 180px 180px;
    background-position: center center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body .thermo-container .outer-circle .middle-circle .inner-circle {
    position: absolute;
    width: 143px;
    height: 143px;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
body .thermo-container .outer-circle .middle-circle .inner-circle span {
    position: relative;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .top {
    font-size: 13px;
    color: #5a2962;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .top::after {
    content: "°F";
    position: absolute;
    top: -1px;
    right: -15px;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .mid {
    margin: 5px 0;
    font-size: 45px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #5a2962;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .mid::after {
    content: "°C";
    position: absolute;
    font-size: 25px;
    top: 8px;
    right: -25px;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .bottom {
    font-size: 15px;
    color: #5a2962;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .on-hover {
    position: absolute;
    font-size: 45px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    right: -20px;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #98317a;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .on-hover::after {
    content: "°";
    position: absolute;
    font-size: 25px;
    top: 8px;
    right: -9px;
}
body .thermo-container .outer-circle .middle-circle .inner-circle .line {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
body .thermo-container .outer-circle .middle-circle .inner-circle .line::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: rgba(152, 49, 122, 0.6);
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mid-mouse-on {
    -webkit-transform: translateX(-50px) scale(0.3);
    transform: translateX(-50px) scale(0.3);
    opacity: 0;
}

.on-hover-mouse-on {
    -webkit-transform: scale(1) translateX(-55px) !important;
    transform: scale(1) translateX(-55px) !important;
    opacity: 1 !important;
}

.line-rotate {
    -webkit-transform: rotate(30deg) !important;
    transform: rotate(30deg) !important;
}
